*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgray;
}
.navbar{
    height: 12vh;
    background: #7161FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .logo{
    background-image: url(../assets/favicon.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 90%;
    background-position:-4px -3px;
    width: 13vw;
}

.navitems ul {
    display: flex;
    list-style: none;
    margin-left: 22rem;
}
.navitems ul li{
    margin-left: 4rem;
}

.nav-link{
    padding: 25px 10px 25px 10px;
    font-size: 18.5px;
    color: white;
    font-family: cursive;
    text-decoration: none;
    cursor: pointer;
}

.news-item{
    height: 355px;
    width: 20%;
    margin: 15px 25px 15px 25px  ;
    background: rgb(213, 207, 207);
    display: inline-block;
    border-radius: 14px 14px ;
    outline: 1px solid black;
    transition: 0.2s all;
    cursor: pointer;
    overflow: hidden;

}

.news-item img{
    height: 55%;
    width: 100%;
    margin-bottom: 7px;
    border-bottom:2px solid black ;
   
}
.news-item h3{
    margin-left:5px;
    margin-bottom: 2px;
    border-bottom: 1px solid black;
}
.news-item p{
    margin-top: 6px;
    margin-left:5px;
}
.news-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transform: scale(1.02);
    outline: none;
}

