@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background: #C6DD88;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../assets/desktopBgImage.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

.form-box {
  width: 90%;
  max-width: 21.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background:transparent;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  padding: 50px 60px 70px;
  border-radius: 130px 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}
.form-box h1 {
  font-size: 1.875em;
  position: relative;
  color: rgba(0, 0, 139, 0.79);
  margin-bottom: 2.188rem;
}

.form-box h1::after {
  content: "";
  width: 1.875em;
  height: 0.25rem;
  border-radius: 3px;
  background: rgba(0, 0, 139, 0.79);
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.input-field {
  background: #fbf5f5;
  border-radius: 0.125em 0.813em;
  outline: 1px solid black;
  align-items: center;
  display: flex;
  margin: 0.938em 0em;
}

input {
  width: 100%;
  background: transparent;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 0;
  outline: 0;
  padding: 0.938rem 0.938rem;
}
.i {
  margin-left: 0.5em;
  color: #7a7777;
}

form {
  position: relative;
}
.acc {
  position: absolute;
  left: 0.625em;
}
.link {
  position: relative;
  top: -0.938rem;
  font-size: 0.788em;
  text-decoration: none;
  color: red;
  transition: ease 0.2s;
  font-weight: 500;
}
.link:hover {
  font-weight: 590;
  color: rgb(5, 5, 134);
  text-decoration: underline;
}
#signup {
  background: rgba(0, 0, 139, 0.79);
  color: white;
  padding: 0.495rem 1.173rem;
  transform: translateY(2.25em);
  position: relative;
  cursor: pointer;
  font-weight: 50;
  font-size: 1em;
  border: 0;
  border-radius: 0.813rem;
  box-shadow: 3px 4px 10px -5px black;
  transition: ease 0.2s;
 
}

#signup:active {
  background: rgb(1, 1, 103);
}

@media (max-width:600px) {

  *{
    font-family: "Anta", sans-serif;
  font-size: 17px;
  font-style: normal
  }
  .container{
    background-image: url(../assets/mobilebgImage.png);
    height: 90vh;
   

  }


}